<mat-card>

  <div (mouseover)="showTitle=true" (mouseout)="showTitle=false">
    <mat-card-header *ngIf="showTitle">
      <mat-card-title>{{title}}</mat-card-title>
      <mat-card-subtitle >{{subtitle}}</mat-card-subtitle>
    </mat-card-header>
    <video mat-card-image [src]="item.url" controls></video>
  </div>
  <!--img mat-card-image [src]="thumbnail" (error)="setDefaultImage()" alt="Thumbnail"-->
  <mat-card-content>
    <h3>Category: {{item.category}}</h3>
  </mat-card-content>
  <mat-card-actions>
    <button color="primary" mat-raised-button>LIKE</button>
    <button color="primary" mat-raised-button>SHARE</button>
  </mat-card-actions>
</mat-card>
